<div class="home-page">
  <h1 class="header">The Blog</h1>
  <% @users.each do |user| %>
    <%= link_to user_path(user.id) do %>
      <%= render partial: 'user_info', locals: { user: user } %>
    <% end %>
  <% end %>
</div>
