*,
html {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
  text-align: center;
}

.border {
  border: 2px solid black;
  border-radius: 5px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.login-btn {
  padding: 20px;
  display: flex;
  gap: 1em;
}

.login-btn > a {
  padding: 10px;
  border: 1px solid black;
  text-decoration: none;
  color: #000;
}

.new-post > a {
  text-decoration: none;
  border: 2px solid black;
  color: #000;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px black;
}

.post-info > a {
  text-decoration: none;
}

.login-btn > a:hover {
  background-color: rgb(217, 217, 217);
}

.new-post > p {
  padding: 10px;
}

.new-post > a:hover {
  background-color: rgb(69, 69, 69);
  color: #fff;
}

.home-page {
  width: 100%;
}

.home-page a:link {
  text-decoration: none;
}

.display-photo {
  width: 100px;
}

.all-posts {
  text-align: center;
  width: 150px;
  margin: auto;
}

.see-all-posts {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px black;
}

.all-posts a:link {
  text-decoration: none;
}

.user-post-card {
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  color: black;
  margin-bottom: 10px;
}

.user-posts a:link {
  text-decoration: none;
}

.post-details,
.post-comments {
  padding: 10px;
  border-radius: 5px;
  color: black;
  margin-bottom: 10px;
}

.comments {
  margin: 10px auto 10px auto;
  width: 100%;
}

.comments > p {
  padding: 5px;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.pagination {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
}

.user-photo {
  padding: 5px;
  width: 100px;
}

.user-details {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
}

.user-show-post {
  width: 100%;
}

.bio {
  padding: 10px;
  margin-bottom: 10px;
}

.bio-post {
  width: 70%;
  margin: auto;
}

.user-specific-post {
  width: 100%;
}

.user-posts {
  width: 100%;
}

.user-post-comments {
  width: 70%;
}

.post-info {
  width: 75%;
  margin: auto;
}

.post-container {
  width: 70%;
  margin: auto;
}

.comment-like {
  display: flex;
  gap: 1em;
}

.comment {
  margin-top: 10px;
}

.comment a:link,
.like-btn {
  text-decoration: none;
  box-shadow: 1px 1px 1px 1px #000;
  padding: 10px;
  border-radius: 5px;
  color: #000;
  border: none;
  cursor: pointer;
}

.like-btn:hover,
.comment a:link:hover {
  background-color: rgb(224, 224, 224);
}

.new-post {
  width: 70%;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

/*
  Create Post
*/
.create-post {
  width: 70%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.add-post-btn > input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
  outline: 0;
  cursor: pointer;
}

/*
  * Registeration form
*/

.register {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.login-form {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-btn > input {
  width: 100%;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px #000;
  cursor: pointer;
}

input::placeholder {
  color: #000;
  font-size: 1.1em;
}

#new_user {
  width: 70%;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.field > label {
  font-size: 1.1em;
}

.field > input {
  padding: 10px;
}

.actions {
  text-align: center;
}

.actions > input {
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 1em;
}
