*,
html {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
  text-align: center;
}

.border {
  border: 2px solid black;
  border-radius: 5px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}

.home-page {
  width: 100%;
}

.home-page a:link {
  text-decoration: none;
}

.user-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  gap: 2em;
  padding-bottom: 10px;
  margin: auto;
}

.display-photo {
  width: 100px;
}

.username,
.no-of-posts {
  color: black;
}

.all-posts {
  text-align: center;
  width: 150px;
  margin: auto;
}

.see-all-posts {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px black;
}

.all-posts a:link {
  text-decoration: none;
}

.user-post-card {
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  color: black;
  margin-bottom: 10px;
}

.user-posts a:link {
  text-decoration: none;
}

.post-details,
.post-comments {
  padding: 10px;
  border-radius: 5px;
  color: black;
  margin-bottom: 10px;
}

.comments {
  margin: 10px auto 10px auto;
  width: 100%;
}

.comments > p {
  padding: 5px;
}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.pagination {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
}

.user-photo {
  padding: 5px;
  width: 100px;
}

.user-details {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
}

.user-show-post {
  width: 100%;
}

.bio {
  padding: 10px;
  margin-bottom: 10px;
}

.bio-post {
  width: 70%;
  margin: auto;
}

.user-specific-post {
  width: 100%;
}

.user-posts {
  width: 100%;
}

.user-post-comments {
  width: 70%;
}

.post-info {
  width: 70%;
  margin: auto;
}

.post-container {
  width: 70%;
  margin: auto;
}

.comment-like {
  display: flex;
  gap: 1em;
}

.comment {
  margin-top: 10px;
}

.comment a:link {
  text-decoration: none;
  background-color: rgb(41, 162, 255);
  padding: 10px;
  border-radius: 5px;
  color: #000;
}

.like-btn {
  background-color: aquamarine;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.like-btn:hover {
  background-color: rgb(0, 255, 170);
  color: rgb(56, 56, 56);
}

.new-post {
  width: 70%;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.new-post > p {
  padding: 10px;
}

.new-post > a {
  text-decoration: none;
  border: 2px solid black;
  color: #000;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px black;
}

.new-post > a:hover {
  background-color: rgb(69, 69, 69);
  color: #fff;
}

/* 
  Create Post
*/
.create-post {
  width: 70%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.add-post-btn > input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
  outline: 0;
  cursor: pointer;
}

/* 
  * Registeration form
*/

