*,
html {
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}

.home-page {
  width: 100%;
}

.home-page a:link {
  text-decoration: none;
}

.user-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.display-photo {
  width: 100px;
}

.username,
.no-of-posts {
  color: black;
}

.all-posts {
  text-align: center;
  width: 150px;
}

.see-all-posts {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 1px 1px black;
}

.all-posts a:link {
  text-decoration: none;
}

.user-post-card {
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  color: black;
}

.user-posts a:link {
  text-decoration: none;
}

.post-details,
.post-comments {
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  color: black;
  margin-bottom: 10px;
}

.comments {
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 1em;
}

.pagination {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px black;
}
